<h1>News</h1>
<a href="/">home</a>

<% @articles.each do |article| %>
    <div>
        <p class="title"><b><%= article[:title] %></b></p>
        <p class="article"><%= article[:content] %></p>
    </div>
<% end %>